.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.navbar {
    overflow: hidden;
    background-color: #fdc123;
    padding: 20px 5px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.title {
    font-size: 3rem;
    color: #e22450;
    padding-left: 1rem;
    font-family: 'Lobster', cursive;
    margin: 0rem;
    text-align: left;
}

.App-header {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

body {
    background-color: #059caf;
}

.App-link {
    color: #61dafb;
}

.total {
    background-color: rgba(0, 0, 0, 0.3)
}

.btn-breakfast,
.btn-lunch {
    background-color: #e22450;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    width: 300px;
    height: 110px;
}

.btn-election {
    background-color: #f07b1c;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    border-width: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.firstcolumn {
    width: 300px;
}

.thirdcolumn {
    margin-left: 50px;
}