
.to-order-list{
  margin-top: 40rem;
  margin-left: 40rem;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: #fdc123;
  padding: 20px 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
.home h1{
  
  text-align: center;
  margin: 1rem;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  color: #e4d499;
}
.home p{
  font-size: 2rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #303030;
}
.title{
  font-size: 3rem;
  color:#e22450; 
  padding-left: 1rem;
  font-family: 'Lobster', cursive;
  margin: 0rem;
  text-align: left;
}
.App-header {
  
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
body{background-color: #059caf;}
.App-link {
  color: #61dafb;
}

.btn-breakfast p{margin:0rem}
.btn-breakfast,.btn-lunch{
  background-color: #e22450;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}
.btn-election{
  background-color: #f07b1c;
  text-align: center;
  margin: 1rem;
  margin-top:7rem;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border-width: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
}
#logo{
  margin-top: 8rem;
}
td{
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  padding: 0.3rem;
}
table{
  background-color:#e4d499;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  
}
.btn-delete{
  border-radius: 0.5rem;
  border-width: 0px;
  background-color: #e22424;
}
.btn-minus{
  border-radius: 0.3rem;
  border-width: 0px;
  background-color: #f07b1c;
  margin-left:0.5rem; 
}
.btn-plus{
  border-radius: 0.3rem;
  border-width: 0px;
  background-color: #059caf;
  margin-right:0.5rem; 
  
}
.input{
  border-radius: 0.2rem;
    border-width: 0px;
    padding-left:0.5rem;
    padding-right:0.5rem;  
}
.total{
  padding-right: 18rem;
  padding-top: 0.5rem; 
  margin-bottom:2rem;
  background-color:#fdc123;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}
.btn-total{
  background-color: #e22450;
  text-align: center;
 
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
